body {
  background-image: url(../Assets/images/bg.jpg) !important;
}
.container {
  border-radius: 10px;
  height: auto;
}
form {
  width: 100%;
  box-sizing: border-box;
  height: auto;
  max-width: 100%;
}
form input,
select {
  border: 1px solid rgb(239, 226, 247);
  margin: 20px 0;
  width: 100%;
  height: 50px;
  border-radius: 5px;
}
form select {
  margin: 20px 0;
  color: #706f6f;
}
form textarea {
  border: 1px solid rgb(239, 226, 247);
  margin: 20px 0;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  padding: 5px;
}
form button {
  background-color: #f17732;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: 1px solid var(--orange-color);
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}
form button:hover {
  opacity: 0.8;
}
.general-class {
  padding: 20px;
  width: 100%;
  height: auto;
}
.side {
  background-image: url(../Assets/images/contactImage.jpg);
  border-radius: 15px;
}
.overlay {
  background-color: #565acf;
  opacity: 0.9;
  border-radius: 15px;
}
.content-text {
  width: 70%;
  margin: 0 10px;
  padding: 65px 40px;
  color: #fff;
}
.content-text svg {
  margin-right: 7px;
}
.content-text p {
  font-size: 20px;
}
.content-text li {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 22px;
}
.iconss {
  width: 40px;
  height: 40px;
  background-color: #fff;
  margin: 0 7px;
  display: inline-block;
}
.iconss svg {
  color: #565acf;
  font-size: 20px;
  margin-top: 8px;
  margin-left: 10px;
}
